* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: url("./images/mountain.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
/* nav top left */
h1{
  font-size: 1.7rem;
  color:white;
}
/* typewriting */
.intro{
  margin-top: 1em;
  text-align: center;
  font-size: 3rem;
  font-weight:bold;
  color: #D0DFF5;
  text-shadow:2px 2px 2px #000;
}

/* navbar  */
nav{
  display:flex;
  /* giving space */
  justify-content: space-around;
  min-height: 8vh;
  width: 100%;
  align-items: center;
  background-color: #291940;
}

/* links */
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
/* hover effect on the links */
a:hover{
  color:lavender;
}

.navlinks{
  display: flex;
  /* gets rid of the dots */
  list-style: none;
  /* giving space between the nav links */
  justify-content: space-around;
  font-weight:bold;
  width:30%;
}

/* background */
.background{
  background: url("./images/mountain.jpg");
  height:80vh;
  background-repeat: no-repeat;
}

/* ABOUT page */
.card{
  margin: 0 auto;
  background-color:#291940;
}

/* Portfolio page */
.text-center{
  width:35rem;
  margin-top: 30px;
  height:30rem;
}

.text-center:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
 }

 .card-body{
  padding:3rem 0 !important;
 }
 /* title of the projects */
 h4{
   font-weight: bold;
   font-size: 2rem;
   color: lavender;
 }
/* description of the projects */
 .card-text{
   font-size: 1.1rem;
   padding:0.4rem 1.9rem;
   font-weight: bold;
 }

 .containe-fluid .row{
   padding-top: 5rem;
 }

 /* image hovering  */
 .overflow{
   overflow:hidden;
 }
/* give it time to zoom in on the images */
 .card-img-top{
   transform: scale(1);
   transition: transform 0.5s ease;
 }

 .card-img-top:hover{
   transform: scale(1.5);
 }