* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: url("./images/mountain.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

h1{
  font-size: 25px;
  color:white;
}
/* typewriting */
.typing{
  text-align: center;
  font-size: 30px;
}

/* navbar  */
nav{
  display:flex;
  /* giving space */
  justify-content: space-around;
  min-height: 8vh;
  width: 100%;
  align-items: center;
}

/* links */
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
/* hover effect on the links */
a:hover{
  color:lavender;
}

.navlinks{
  display: flex;
  /* gets rid of the dots */
  list-style: none;
  /* giving space between the nav links */
  justify-content: space-around;
  width:30%;
}

/* background */
.background{
  background: url("./images/mountain.jpg");
  height:80vh;
  background-repeat: no-repeat;
}

/* ABOUT page */
.card{
  margin: 0 auto;
  background-color:lavender;
}

/* Portfolio page */
.text-center{
  width:25rem;
  margin-top: 30px;
  height:30rem;
}

.text-center:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
 }

 .card-body{
  padding:3rem 0 !important;
 }

 .card-text{
   font-size: 1rem;
   padding:0.4rem 1.9rem;
 }

 .containe-fluid .row{
   padding-top: 6rem;
 }

 /* image hovering  */
 .overflow{
   overflow:hidden;
 }

 .card-img-top{
   transform: scale(1);
 }

 .card-img-top:hover{
   transform: scale(1.5);
 }