* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: url("./images/mountain.jpg");
  height:80vh;
  background-repeat: no-repeat;
}

h1{
  font-size: 25px;
  color:white;
}
/* typewriting */
.typing{
  text-align: center;
  font-size: 30px;
}

/* navbar  */
nav{
  display:flex;
  /* giving space */
  justify-content: space-around;
  min-height: 8vh;
  width: 100%;
  align-items: center;
}

/* links */
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
/* hover effect on the links */
a:hover{
  color:lavender;
}

.navlinks{
  display: flex;
  /* gets rid of the dots */
  list-style: none;
  /* giving space between the nav links */
  justify-content: space-around;
  width:30%;
}

/* background */
.background{
  background: url("./images/mountain.jpg");
  height:80vh;
  background-repeat: no-repeat;
}
/* card */
.card-title{
  text-align: center;
}

.card-body{
  justify-content: center;
}

h2{
  text-align: center;
}
/* ABOUT page */
.card{
  margin: 0 auto;
  background-color:lavender;
}