h2{
    text-align: center;
    margin-top:200px;
    color:lavender;
    font-size:3rem;
  }

/* Card CSS */
.Card{
    width:40%;
    height:auto;
    border-radius: 10px;
    box-shadow: 0px 1p 10px 1px black;
    margin:0 auto;
    background:#291940;
    color:lavender;
}

.image-container img{
    width:auto;
    height:300px;
    margin: 0 auto;
    display:block;
}

.lower-container p, h3{
    text-align: center; 
    font-size:1.3rem;
    font-family: 'titillium web', sans-serif;
}

button{
    margin: 0 auto;
    display: block;
}